table, th, td {
    border-collapse: collapse;
	border-spacing: 0;
    
}
div{
	
}
th.first { 
	height: 30px;
	text-align: center;
	width : 300px;
}
td.first {
	height : 100px;
	text-align: center;
}
.first.content {
	font: 24px arial, sans-serif;
}
body {
	color:#494747;

}
.context {
	position: absolute;
	width : 100%;
	height : 100%;
	margin: 0px 0px;
}
.container {
	position : relative;
	width: 1280px;
	margin-left : auto;
	margin-right: auto;
	margin-bottom : 40px;
 	text-align: center; 
    vertical-align:middle;
}
.data {
	width : 200px;
	font-size: 30px;
	font-weight: bold;

}
.graph {
	position : relative;
	height: 400px;
}
.graph.line {
	float : left;
	width : 600px;
	margin : 0px 0px;
	
}
.graph.pie {
	width : 600px;
	margin : 0px 0px;
	float : right;
}
th.second {
	width : 50px;	
}
td.second {
	width : 250px;
}
.stats{
	max-width : 450px;
}
.page.stats {
	float : left;
	text-align : center;
	margin-left : 50px;
	
}
.user.stats {
	float : right;
	text-align : center;
	margin-right : 50px;
	
}

iframe {
	width : 600px;
	height: 400px;
}


#chart_table table{
	border:3px solid #E8E8E8;
	width:1280px;
	//table-layout:fixed;
	//word-break:break-all;
}
	
#chart_table th{
	border:#E8E8E8;
	background-color:#E8E8E8;
	padding:5px;
	font-size:20px;
}

#chart_table td{
	background-color:white;
	padding:5px;

}

#chart_table td:nth-child(odd) {
	text-align: center;
	font-size:36px;
	width : 250px;
}

#chart_table td:nth-child(even) {
	vertical-align:bottom;
	text-align:right;
	border-right:3px solid #E8E8E8;
	padding-right:10px;
	width : 50px;

}


hr {
	border:1px #A2A2A2 solid;
	width:1280px;
}

#title {
	margin-left : auto;
	margin-right: auto;
	padding-bottom:5px;
	width: 1280px;
    vertical-align:middle;
	font-size:24px;
	font-weight:bold;
}

.user.stats table td{
	border-bottom:1px #A2A2A2 solid;
	
}
.page.stats table td{
	border-bottom:1px #A2A2A2 solid;
}

iframe
{
	border:hidden;
}
